<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               id="cn.thu.edu.thss.tsmart.tool.da.validator.CheckpointView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.debug.ui.VariableView"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="cn.edu.thu.tsmart.tool.da.validator.ui.CheckpointView"
            id="cn.thu.edu.thss.tsmart.tool.da.validator.CheckpointView"
            name="Checkpoints"
            restorable="true">
      </view>
   </extension>
   <extension
         id="cn.thu.edu.thss.tsmart.tool.da.validator.checkpointMarker"
         name="checkpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="cn.thu.edu.thss.tsmart.tool.da.validator.testcaseProperty">
      </attribute>
      <attribute
            name="cn.thu.edu.thss.tsmart.tool.da.validator.conditions">
      </attribute>
      <attribute
            name="cn.edu.thu.tsmart.tool.da.validator.conditionSatisfied">
      </attribute>
   </extension>
   <extension
         id="cn.thu.edu.thss.tsmart.tool.da.validator.checkpointAnnotation"
         name="CheckpointAnnotation"
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="cn.thu.edu.thss.tsmart.tool.da.validator.checkpointMarker"
            name="cn.thu.edu.thss.tsmart.tool.da.validator.checkpointAnnotation"
            super="org.eclipse.debug.core.breakpoint">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="cn.thu.edu.thss.tsmart.tool.da.validator.checkpointAnnotation"
            colorPreferenceKey="CHECKPOINT_COLOR"
            colorPreferenceValue="255,0,0"
            highlightPreferenceKey="CHECKPOINT_HIGHLIGHT"
            highlightPreferenceValue="false"
            icon="icons/checkpoint.gif"
            includeOnPreferencePage="true"
            label="Checkpoints"
            overviewRulerPreferenceKey="CHECKPOINT_OVERVIEW_RULER"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="CHECKPOINT_TEXT"
            textPreferenceValue="false"
            textStylePreferenceKey="CHECKPOINT_TEXTSTYLE"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="CHECKPOINT_VERTICAL_RULER"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="cn.edu.thu.tsmart.tool.da.validator.startup.EarlyStartUp">
      </startup>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="cn.edu.thu.tsmart.tool.da.core.validator.cp.Checkpoint"
            id="cn.thu.edu.thss.tsmart.tool.da.validator.Checkpoint"
            markerType="cn.thu.edu.thss.tsmart.tool.da.validator.checkpointMarker">
      </breakpoint>
   </extension>
   <extension
         point="org.eclipse.jdt.junit.testRunListeners">
      <testRunListener
            class="cn.edu.thu.tsmart.tool.da.validator.ui.ValidatorTestRunListener">
      </testRunListener>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:cn.thu.edu.thss.tsmart.tool.da.validator.CheckpointView">
         <command
               commandId="cn.edu.thu.tsmart.tool.da.validator.ui.removeCheckpoint"
               icon="icons/delete.gif"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="cn.edu.thu.tsmart.tool.da.validator.ui.removeCheckpoint"
            name="remove selected checkpoint">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="cn.edu.thu.tsmart.tool.da.validator.ui.RemoveCheckpointHandler"
            commandId="cn.edu.thu.tsmart.tool.da.validator.ui.removeCheckpoint">
      </handler>
   </extension>

</plugin>
