<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:cn.thu.edu.thss.tsmart.tool.da.validator.CheckpointView">
         <command
               commandId="cn.edu.thu.tsmart.tool.da.ui.traceAllTests"
               icon="icons/Go-All.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:cn.thu.edu.thss.tsmart.tool.da.validator.CheckpointView">
         <command
               commandId="cn.edu.thu.tsmart.tool.da.ui.StepResolve"
               icon="icons/Go-Step.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:cn.edu.thu.tsmart.tool.da.ui.views.suggestionview">
         <command
               commandId="cn.edu.thu.tsmart.tool.da.ui.applySuggestion"
               icon="icons/apply.png"
               label="Apply"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:cn.thu.edu.thss.tsmart.tool.da.validator.CheckpointView">
         <command
               commandId="cn.edu.thu.tsmart.tool.da.ui.continueResolving"
               icon="icons/resume.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:cn.thu.edu.thss.tsmart.tool.da.validator.CheckpointView">
         <command
               commandId="cn.edu.thu.tsmart.tool.da.validator.ui.UpdateProgress"
               icon="icons/sync.png"
               style="push"
               tooltip="Update debug process">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:cn.thu.edu.thss.tsmart.tool.da.validator.CheckpointView">
         <command
               commandId="cn.edu.thu.tsmart.tool.da.validator.ui.EnableFilter"
               icon="icons/filter.png"
               style="toggle"
               tooltip="Enable early filtration">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="cn.edu.thu.tsmart.tool.da.validator.ui.UpdateProgress"
         point="org.eclipse.ui.commands">
      <command
            id="cn.edu.thu.tsmart.tool.da.ui.traceAllTests"
            name="Start Resolving">
      </command>
      <command
            id="cn.edu.thu.tsmart.tool.da.ui.applySuggestion"
            name="Apply Suggestion">
      </command>
      <command
            id="cn.edu.thu.tsmart.tool.da.ui.continueResolving"
            name="Continue Resolving">
      </command>
      <command
            id="cn.edu.thu.tsmart.tool.da.ui.StepResolve"
            name="Resolve A Step">
      </command>
      <command
            id="cn.edu.thu.tsmart.tool.da.validator.ui.EnableFilter"
            name="Enable Early Filtration">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="cn.edu.thu.tsmart.tool.da.ui.handler.StartResolveHandler"
            commandId="cn.edu.thu.tsmart.tool.da.ui.traceAllTests">
      </handler>
      <handler
            class="cn.edu.thu.tsmart.tool.da.ui.handler.ApplySuggestionHandler"
            commandId="cn.edu.thu.tsmart.tool.da.ui.applySuggestion">
      </handler>
      <handler
            class="cn.edu.thu.tsmart.tool.da.ui.handler.ContinueResolvingHandler"
            commandId="cn.edu.thu.tsmart.tool.da.ui.continueResolving">
      </handler>
      <handler
            class="cn.edu.thu.tsmart.tool.da.ui.handler.UpdateProgressHandler"
            commandId="cn.edu.thu.tsmart.tool.da.validator.ui.UpdateProgress">
      </handler>
      <handler
            class="cn.edu.thu.tsmart.tool.da.ui.handler.StepResolveHandler"
            commandId="cn.edu.thu.tsmart.tool.da.ui.StepResolve">
      </handler>
      <handler
            class="cn.edu.thu.tsmart.tool.da.ui.handler.EnableFilterHandler"
            commandId="cn.edu.thu.tsmart.tool.da.validator.ui.EnableFilter">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="cn.edu.thu.tsmart.tool.da.ui.views.SuggestionView"
            id="cn.edu.thu.tsmart.tool.da.ui.views.suggestionview"
            name="Fix Suggestions"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="cn.edu.thu.tsmart.tool.da.ui.views.TraceAndCheckpointView"
            id="cn.edu.thu.tsmart.tool.da.ui.views.TraceAndCheckpointView"
            name="Execution Trace and Checkpoint"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="cn.edu.thu.tsmart.tool.da.ui.views.FaultLocalizationView"
            id="cn.edu.thu.tsmart.tool.da.ui.faultlocalizationview"
            name="Fault Localization"
            restorable="true">
      </view>
   </extension>


</plugin>
