<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="cn.edu.thu.tsmart.tool.da.tracer.TranslateTrace"
            name="translate trace">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="cn.edu.thu.tsmart.tool.da.tracer.handler.TranslateHandler"
            commandId="cn.edu.thu.tsmart.tool.da.tracer.TranslateTrace">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:cn.edu.thu.tsmart.tool.da.tracer.traceview">
         <command
               commandId="cn.edu.thu.tsmart.tool.da.tracer.TranslateTrace"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="cn.edu.thu.tsmart.tool.da.tracer.TraceView"
            id="cn.edu.thu.tsmart.tool.da.tracer.traceview"
            name="TraceView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="cn.edu.thu.tsmart.tool.da.tracer.AgentFinder">
      </startup>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchModes">
      <launchMode
            label="SDTrace"
            launchAsLabel="SDTrace As"
            mode="sdtrace">
      </launchMode>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="cn.edu.thu.tsmart.tool.da.tracer.SDTraceLaunchConfigurationDelegate"
            id="cn.edu.thu.tsmart.tool.da.tracer.sdTraceLaunchDelegate"
            modes="sdtrace"
            name="Java Application"
            type="org.eclipse.jdt.launching.localJavaApplication">
      </launchDelegate>
      <launchDelegate
            delegate="cn.edu.thu.tsmart.tool.da.tracer.SDTraceLaunchConfigurationDelegate"
            id="cn.edu.thu.tsmart.tool.da.tracer.sdTraceLaunchDelegateJUnit"
            modes="sdtrace"
            name="JUnit Test"
            type="org.eclipse.jdt.junit.launchconfig">
      </launchDelegate>
   </extension>

</plugin>
